@import "variables";

@mixin buttonHeader($bgColor, $fontColor) {
    background: $bgColor;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 52px;
    color: $fontColor;
    letter-spacing: 0.5px;
    padding: 0 40px;
}

@mixin buttonHeaderResp($bgColor, $fontColor) {
    background: $bgColor;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: $fontColor;
    letter-spacing: 0px;
    padding: 0 24px;
}

@mixin headerFont($fontColor) {
    font-weight: 900;
    font-size: 46px;
    line-height: 60px;
    color: $fontColor;
}

@mixin paragraphFont($fontColor) {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: $fontColor;
}

@mixin smallBtn($btnClr, $fontColor, $borderColor){
    background: $btnClr;
    border-radius: 4px;
    font-weight: 700;
    font-size: 14px;
    line-height: 44px;
    padding: 0 32px;
    color: $fontColor;
    border-color: $borderColor;
}

@mixin font400($fontSize, $lineHeight, $fontColor) {
    font-weight: 400;
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $fontColor;
}

@mixin font700($fontSize, $lineHeight, $fontColor) {
    font-weight: 700;
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $fontColor;
}

@mixin font900($fontSize, $lineHeight, $fontColor) {
    font-weight: 900;
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $fontColor;
}